<% provide(:page_title, 'Index Page') %>

<p id="notice"><%= notice %></p>

<h1>Projects</h1>
<h2>About Me</h2>
<p>My name is Ethan Sherman and this web page is a little portion of some of the projects
that I have worked on throughout my years in college. A little bit more about me is that I am a senior at UCCS in electrical engineering. I have also had the opportunity to pick up two minors throughout my college career which are: computer engineering and computer science. These minors have allowed me to gain a better understanding of the bigger picture that every engineer should have in the modern workforce.</p> 

<table style="width:100%">
  <thead>
    <tr>
      <th>Project Title</th>
      <th>Project Short Description</th>
      <th>Project Long Description</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.body %></td>
        <td><%= project.description %></td>
        <td><%= project.slug %></td>
        <td><%= link_to 'Details', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Project', new_project_path %>
