<% provide(:page_title, @project.title) %>

<p>
  <strong>Project Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Project Short Description:</strong>
  <%= @project.body %>
</p>

<p>
  <strong>Project Long Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @project.slug %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
